extends layout

block style 
  link(rel="stylesheet" href="/stylesheets/error.css")

block content
  main
    h1.status= status
    h2.message= message
    a.back(href="/" , target="_self") Go to Home? 