@import "./_layout.less";

.neonDiv {
  border-radius: 0.4em;
  transition: all 0.3s;
  background-color: @backgroundColors[tertiary];
  box-shadow: @backgroundColors[primary] 2px 2px 4px;
  border: darken(@colors[secondry], 30%) 1px solid;

  &:hover {
    transform: scale(1.05);
    border: @colors[secondry] 2px solid;
    background-color: lighten(@backgroundColors[tertiary], 5%);
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh auto auto auto;
  text-align: center;

  img {
    display: block;
    margin: auto;
    width: 180px;
    margin-bottom: 7vh;
    border-radius: 50%;
    border: darken(@colors[imgBorder], 10%) 3px solid;
    box-shadow: @colors[imgBorder] 0px 0px 8px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
      box-shadow: @colors[imgBorder] 0px 0px 12px 4px;
    }
  }


  .username,
  .name {
    margin: 0px;
  }

  .name {
    color: @colors[secondry];
    font-size: 2.2em;
    font-weight: lighter;
    font-family: @fonts[Comfortaa];
    .gradientText;
  }

  .username {
    color: lighten(@backgroundColors[primary], 35%);
    font-family: @fonts[Ubuntu];

    &::before {
      content: "@";
    }
  }
}

main {
  margin-top: 10vh;

  section {
    margin: 3.5vh auto;
    border-radius: 0.5em;
    width: 90vw;
    overflow: hidden;
    padding-bottom: 1em;
    background-color: @backgroundColors[secondry];
    box-shadow: @backgroundColors[primary] 2px 2px 4px;

    &>h2 {
      color: @colors[primary];
      padding: 0.5em;
      margin: 0 0 0.5em 0;
      background-color: @backgroundColors[tertiary];
    }

    .popularLang>div {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }

    &>.github,
    &>.popularLang {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;

      &>div {
        .neonDiv;
        text-align: center;
        flex-basis: 42%;
        margin: 0.4em;
        padding: 1em;

        .langIcon {
          width: 1.8em;
          // filter: grayscale(1);
          filter: drop-shadow(1px 1px 1px darken(@colors[secondry], 30%));
        }

        p {
          margin: 0;

          &.number,
          &.langPercent {
            font-size: 1.7em;
            color: @colors[secondry];
            font-family: @fonts[Electrolize];
          }

          &.activity {
            color: darken(@colors[primary], 10%);
            font-size: 0.9em;
          }

          &.langPercent {
            font-size: 1.3em;

            &::after {
              content: "%";
              font-size: 0.6em;
            }
          }


        }
      }
    }

    &>.repoContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0em 0.5em;


      &>div {

        .neonDiv;

        margin: 0.6em 0.3em;
        padding: 0em 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .repoName {
          color: @colors[secondry];
        }

        .repoBio {
          color: darken(@colors[primary], 10%);
          font-family: @fonts[Ubuntu];
        }

        .repoFooter {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 14px;


          div {
            &:nth-child(1) {
              display: flex;
              flex-direction: row;

              p {
                padding: 0px 2px;
              }
            }

            .repoLang {
              padding: 4px;
              font-size: 12px;
              background-color: attr(data-color);
              border-radius: 0.5em;
              font-family: @fonts[Ubuntu];
            }
          }
        }
      }
    }
  }
}



@media @desktop {
  header {
    flex-direction: row;
    width: 80vw;

    img {
      width: 220px;
    }

    .name {
      font-size: 4.5em;
    }

    .username {
      font-size: 1.5em;
      margin-bottom: 5vh;
    }

    &>div:nth-child(2) {
      max-width: 50vw;
    }
  }

  main {
    section {
      width: 85vw;


      &>.repoContainer {
        flex-direction: row;
        justify-content: space-around;

        &>div {
          flex-basis: calc((100% - 2.5em)/3);
        }
      }

      &>.github,
      &>.popularLang {
        &>div {
          flex-basis: 23%;
        }
      }

      .popularLang>div {
        justify-content: space-evenly;

        .langIcon {
          width: 2.5em;
        }
      }
    }
  }
}